@charset "UTF-8";

/***************
PC用CSS
***************/
@media print, screen and (min-width: 640px) {
  div.errer {
    text-align: center;
    font-size: large;
  }

  h1 {
    text-align: center;
    text-align: center;
    color: rgb(18, 54, 241);
    text-shadow:
    2px 2px 1px #ffffff,
    -2px 2px 1px #ffffff,
    2px -2px 1px #ffffff,
    -2px -2px 1px #ffffff;
  }

  .mobile {
    display: none; /*スマホ版を非表示*/
  }

  body {
    max-width: 100%;
    height: auto;
    width: auto;
    font-size: 100%;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    background: -webkit-linear-gradient(left, #BDBFBA 4%, #5A5C5B 98%), -webkit-linear-gradient(16deg, rgba(255, 255, 255, 0.5) 54%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(90deg, #BDBFBA 4%, #5A5C5B 98%), linear-gradient(74deg, rgba(255, 255, 255, 0.5) 54%, rgba(0, 0, 0, 0.5) 100%);
    background-blend-mode: multiply;
  }

  div.top {
    padding: 30px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    background-image: url(marshall.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }

  div.coution {
    clear: both;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 350px;
    position: relative;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .coution .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 2px 9px;
    line-height: 1;
    font-size: 19px;
    background-color: rgba(255, 255, 255);
    color: #95ccff;
    font-weight: bold;
  }

  p.box {
    border-radius: 20px;
    padding: 5px,0px ;
  }

  form {
    text-align: center;
    margin: 30px;
  }

  input{
    font-size: 100%;
  }

  /* 表のデザイン */
  div.tab {
    text-align: center;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
  }

  th.typ1, td.typ1 {
    font-size: 1em;
    min-width: 5em;
  }

  th.typ2, td.typ2 {
    font-size: 1em;
    min-width: 30em;
  }

  /* ボタンのデザイン　*/
  button {
    border-style:none;
    width: 100px;
    height: 30px;
    padding: 0em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #0c2cb1;/*背景色*/
    border-bottom: solid 2px #0a3188;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    text-align: center;
    letter-spacing: 1em;
    text-indent:1em;
    font-size: 1em;
    font-weight: bold;
  }

  button:active {
    border-bottom: solid 2px #0c2cb1;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
  /* phpの設定 */
  dvi.php {
    text-align: center;
  }
}

/***************
スマホ用CSS
***************/
@media screen and (max-width: 640px) {
  html {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    /* 左右中央寄せ */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    /* 上下中央寄せ */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  body {
    max-width: 100%;
    height: auto;
    width: auto;
    font-size: 60%;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    background: -webkit-linear-gradient(left, #BDBFBA 4%, #5A5C5B 98%), -webkit-linear-gradient(16deg, rgba(255, 255, 255, 0.5) 54%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(90deg, #BDBFBA 4%, #5A5C5B 98%), linear-gradient(74deg, rgba(255, 255, 255, 0.5) 54%, rgba(0, 0, 0, 0.5) 100%);
    background-blend-mode: multiply;
  }



  div.top {
    width: auto;
    text-align: center;
    padding: 1%;
    margin-top: 0%;
    background-image: url(marshall.jpg);
    background-size: 100%
  }

  h1 {
    text-align: center;
    color: rgb(18, 54, 241);
    text-shadow:
    2px 2px 1px #ffffff,
    -2px 2px 1px #ffffff,
    2px -2px 1px #ffffff,
    -2px -2px 1px #ffffff;
  }

  .pc {
    display: none; /* pc版を非表示 */
  }

  div.coution {
    clear: both;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 70%;
    position: relative;
    padding: 0% 1%;
    margin-bottom: 10%;
    border: solid 3px #95ccff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .coution .box-title {
    position: absolute;
    display: inline-block;
    top: -13%;
    left: 10%;
    padding: 0% 1%;
    line-height: 1;
    font-size: 150%;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
  }

  form {
    text-align: center;
    padding: 3%;
    margin: 3%;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
  }

  th.typ1, td.typ1 {
    font-size: 1em;
    min-width: 30%;
  }

  th.typ2, td.typ2 {
    font-size: 1em;
    min-width: 50%;
  }

  div.cen {
    max-width: 80%;
    padding: 5% 10% 15%;
    margin: auto;
    text-align: center;
  }
}
