@charset "UTF-8";

/* スマホ用の設定はl.146から */

/***************
PC用CSS
***************/

@media print, screen and (min-width: 640px) {

  h1 {
    text-align: center;
    text-align: center;
    color: rgb(18, 54, 241);
    text-shadow:
    2px 2px 1px #ffffff,
    -2px 2px 1px #ffffff,
    2px -2px 1px #ffffff,
    -2px -2px 1px #ffffff;
  }

  .mobile {
    display: none; /*スマホ版を非表示*/
  }

  body {
    max-width: 100%;
    height: auto;
    width: auto;
    font-size: 100%;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    background: -webkit-linear-gradient(left, #BDBFBA 4%, #5A5C5B 98%), -webkit-linear-gradient(16deg, rgba(255, 255, 255, 0.5) 54%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(90deg, #BDBFBA 4%, #5A5C5B 98%), linear-gradient(74deg, rgba(255, 255, 255, 0.5) 54%, rgba(0, 0, 0, 0.5) 100%);
    background-blend-mode: multiply;
  }

  div.top {
    padding: 30px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    background-image: url(marshall.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }

  div.coution {
    clear: both;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 350px;
    position: relative;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .coution .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 2px 9px;
    line-height: 1;
    font-size: 19px;
    background-color: rgba(255, 255, 255);
    color: #95ccff;
    font-weight: bold;
  }

  p.box {
    border-radius: 20px;
    padding: 5px,0px ;
  }

  div.main {
    /*文字の設定*/
    padding: 50px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 19px;
    text-shadow: 1px 1px 1px #999999;
  }
  
  table {
    margin-left:auto;
    margin-right:auto;
  }

  th.item {
    vertical-align: top;
    text-align: right;
  }
  th.item_part {
    vertical-align: top;
    text-align: right;
  }

  th.cont {
    padding-left: 20px;
    text-align: left;
  }

  input.square_btn {
    border-style:none;
    width: 100px;
    height: 30px;
    padding: 0em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #0c2cb1;/*背景色*/
    border-bottom: solid 2px #0a3188;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    text-align: center;
    letter-spacing: 1em;
    text-indent:1em;
    font-size: 1em;
    font-weight: bold;
  }

  input.square_btn:active {
    border-bottom: solid 2px #0c2cb1;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }


}


/**************
スマホ用CSS
**************/

@media screen and (max-width: 640px) {
  /*********
  form.php
  *********/
  html {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    /* 左右中央寄せ */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    /* 上下中央寄せ */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  body {
    max-width: 100%;
    height: auto;
    width: auto;
    font-size: 60%;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    background: -webkit-linear-gradient(left, #BDBFBA 4%, #5A5C5B 98%), -webkit-linear-gradient(16deg, rgba(255, 255, 255, 0.5) 54%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(90deg, #BDBFBA 4%, #5A5C5B 98%), linear-gradient(74deg, rgba(255, 255, 255, 0.5) 54%, rgba(0, 0, 0, 0.5) 100%);
    background-blend-mode: multiply;
  }



  div.top {
    width: auto;
    text-align: center;
    padding: 1%;
    margin-top: 0%;
    background-image: url(marshall.jpg);
    background-size: 100%
  }

  h1 {
    text-align: center;
    color: rgb(18, 54, 241);
    text-shadow:
    2px 2px 1px #ffffff,
    -2px 2px 1px #ffffff,
    2px -2px 1px #ffffff,
    -2px -2px 1px #ffffff;
  }

  .pc {
    display: none; /* pc版を非表示 */
  }

  div.coution {
    clear: both;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 70%;
    position: relative;
    padding: 0% 1%;
    margin-bottom: 10%;
    border: solid 3px #95ccff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .coution .box-title {
    position: absolute;
    display: inline-block;
    top: -13%;
    left: 10%;
    padding: 0% 1%;
    line-height: 1;
    font-size: 150%;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
  }



  /* フォーム以下のデザイン　*/

  div.main {
    /*文字の設定*/
    text-align: center;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 100%;
    font-weight: bold;
    text-shadow: 1px 1px 1px #999999;
    /*範囲の設定*/
    width: auto;
    padding : 3%;
    margin: 5% 0%;
    margin: auto;
  }

  /* フォーム入力部(Table)の設定 */
  table {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
  }

  th.item {
    width: 30%;
    vertical-align: top;
    text-align: right;
  }

  th.item_part {
    width: 30%;
    vertical-align: top;
    text-align: right;
    padding-top: 5%;
  }

  th.cont {
    width: 60%;
    padding-left: 3%;
    text-align: left;
  }

  /* フォームのサイズ指定 */
  input {
    font-size: 100%;
  }
  input.fname {
    width: 40%;
  }
  input.fnum {
    width: 50%;
  }
  input.ftel {
    width: 15%;
  }
  input.flocational {
    width: 100%;
  }
  input.fother {
    width: 70%;
  }
  input[type=checkbox] {
    display: none;		/* checkboxを非表示にする */
  }
  label {
    margin-left: 5%;
    width: 40%;
    display: block;
    border: 1px solid #1c59b4;
    border-radius: 5px;
    padding: 3%;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
  }
  input[type="checkbox"]:checked + label {
    background-color: rgba(104, 211, 251, 0.64) /* マウス選択時の背景色を指定する */
  }
  textarea {
    font-size: 100%;
    width: 100%;
    height: 100%;
    line-height: 1.3em;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }


  /* 確認ボタンのデザイン */
  input.square_btn {
    border-style:none;
    padding: 3% 5%;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #0c2cb1;/*背景色*/
    border-bottom: solid 2px #0a3188;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    text-align: center;
    letter-spacing: 1em;
    text-indent:1em;
    font-size: 1em;
    font-weight: bold;
  }

  input.square_btn:active {
    border-bottom: solid 2px #0c2cb1;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }

  div.myDayDate {
    text-align: center;
  }

}
